#output {
  border: solid black 1px;
  width: 70%;
  margin-left: 10%;
  margin-top: 25px;
  min-height: 30em;
  max-height: auto;
}
#buttondata {
  margin-top: 30px;
  margin-left: 190px;
}
#btn1 {
  margin-left: 10px;
}
